<div class="links-panel">
  <div class="links-title">{gettext("Links")}</div>
  <%= if Enum.empty?(@adventure.urls) do %>
    <div class="panel-empty">{gettext("No links in this adventure")}</div>
  <% else %>
    <%= for url <- @adventure.urls do %>
      <a class="links-entry" href={url.url} target="_blank" rel="noopener noreferrer">
        {url.name}
      </a>
    <% end %>
  <% end %>
</div>
