.left-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 30%;
}

.left-panel-button {
  height: 33.3%;
  writing-mode: sideways-lr;
}

.left-panel .panel-content {
  width: 15vw;
  height: 100%;
}

.left-panel .item {
  text-align: start;
  width: 100%;
}

.left-panel .item .item-name {
  font-size: 1.2rem;
}

.left-panel .item .index {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 150%;
  font-weight: bold;
  margin-right: 5px;
  font-weight: lighter;
}

.left-panel .highlight-items .item .index {
  color: rgb(255, 200, 50);
  font-weight: bold;
}
