.left-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-panel-button {
  height: 50%;
  writing-mode: sideways-lr;
}

.left-panel-content {
  width: 15vw;
  height: 100%;
}

.adventure-selector {
  width: 100%;
  height: 100%;
}

.adventure-selector .item {
  text-align: start;
  padding: 20px;
  width: 100%;
}

.adventure-selector .item .index {
  font-size: 150%;
  opacity: 0;
}

.highlight .item .index {
  opacity: 100%;
  color: rgb(255, 200, 50);
}
