.tokens .item {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#add-extra-token .item.highlight {
  background: rgb(255, 200, 50);
}

#manage-tokens .item button {
  width: 50px;
  height: 40px;
}

#manage-tokens > .item.highlight {
  background: rgb(255, 200, 50);
}

#manage-tokens > .item.highlight > button {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  padding: 0.2rem;
  color: rgb(255, 200, 50)
}

#manage-tokens button.highlight {
  background: rgb(255, 200, 50);
}
