<button
  class={"#{@state} #{if @token.state == @state, do: "active", else: ""}"}
  phx-click="set_token_state"
  phx-value-index={@index}
  phx-value-state={"#{@state}"}
  phx-target={@target}
>
  {@text}
</button>
