<div id="adventure-selector" class="adventure-selector">
  <div class="sub-buttons">
    <button phx-click="start_empty" phx-target={@myself} class="pure-button sub-button">
      {gettext("Empty game")}
    </button>
  </div>

  <%= if @adventure do %>
    <div class="item loaded-item">
      <span class="item-name">{@adventure.title}</span>
      <span class="item-id">{@adventure.id}</span>
    </div>
  <% end %>

  <div class="sub-buttons state-buttons">
    <%= if @adventure do %>
      <a href={~p"/snapshot"} download class="pure-button sub-button">
        {gettext("Save state")}
      </a>
    <% end %>
    <label class="pure-button sub-button restore-label">
      {gettext("Restore state")}
      <input
        type="file"
        accept=".zip"
        class="restore-file-input"
        phx-hook="FileUpload"
        id="state-restore-input"
        data-target={@myself}
        data-url={~p"/snapshot"}
      />
    </label>
  </div>
</div>
