<div id="game-panel" class="game-panel">
  <div class="panel-section-label">{gettext("Held")}</div>
  <%= for {kind, count} <- held() do %>
    <div class={"item #{if count == 0, do: "empty-item", else: "loaded-item"}"}>
      <span class="item-name">{kind}</span>
      <span class="item-id">{count}</span>
    </div>
  <% end %>
</div>
