<div id="game-panel" class="game-panel">
  <div class="panel-section-label">{gettext("Adventure")}</div>
  <%= if @adventure do %>
    <div class="item loaded-item">
      <span class="item-name">{@adventure.title}</span>
      <span class="item-id">{@adventure.id}</span>
    </div>
  <% else %>
    <div class="item empty-item">{gettext("Nothing loaded")}</div>
  <% end %>

  <div class="panel-section-label">{gettext("Group")}</div>
  <%= if @group do %>
    <div class="item loaded-item">
      <span class="item-name">{@group.title}</span>
      <span class="item-id">{@group.id}</span>
    </div>
  <% else %>
    <div class="item empty-item">{gettext("Nothing loaded")}</div>
  <% end %>
</div>
