<div id="group-selector" class="group-selector">
  <%= if @group do %>
    <div class="item loaded-item">
      <span class="item-name">{@group.title}</span>
      <span class="item-id">{@group.id}</span>
    </div>
  <% else %>
    <div class="item empty-item">{gettext("No group loaded")}</div>
  <% end %>
</div>
