<div class="master-container">
  <.live_component
    module={PathMapperWeb.MasterLive.LeftPanelComponent}
    id="left-panel"
    adventures={@adventures}
    ui_state={@ui_state.left_panel}
  />
</div>
